<!-- <h1>{{emp[0].name}}</h1> -->


<div class="container">
    <h1 class="text-center mt-5">Products</h1>
    
        <div class="row  p-5">
            <div *ngFor="let item of product" class="col-md-3">
                <div class="item">
                    <img src="{{item.imgSrc}}" class="w-100" alt="not-loaded">
                    <h3>{{item.title}}</h3>
                    <p>{{item.desc}}</p>
                    <p>{{item.price}}$</p>
                </div>
            </div>
        </div>

       
    </div>
    